*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.free
{
    padding: 10px;
    width: 100%;
    background-color: #010f1c;
    display: flex;
}

.free .icon
{
    margin-left: 41.7%;
    color: #fbff00;
    font-size: 30px;
}

.free p
{
    color: #fbff00;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
}

.main_header .container .logo
{
    position: relative;
    height: 50px;
    width: 200px;
    top: 0;
    left: 0;
}

.main_header
{
 padding: 30px 40px;
 width: 100%;
 border-bottom: 1px solid #010f1c;   
}

.main_header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header .container .search_box input
{
    padding: 10px 20px;
    outline: none;
    border: none solid #0989ff;
    width: 300px;
    border-radius: 12px;
}
.main_header .container .search_box button
{
    padding: 11px 11px;
    outline: none;
    border: 3px solid #fff;
    width: 100px;
    color: beige;
    border-radius: 12px;
    background-color: #6a0dad;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.main_header .container .icon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.main_header .container .icon .account
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header .container .icon .account .user_icon 
{
    padding: 15px 15px;
    margin-right: 20px;
    border-radius: 10%;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    text-align: center;
    cursor: pointer;
}

.main_header .container .icon .account p
{
    margin-right: 5px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;

}

.main_header .container .icon .account .user_icon:hover
{
    background-color: #cccccc;
}

.main_header .container .icon .second_icon
{
    display: flex;
    padding: 15px 15px;
    margin-right: 5px;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.main_header .container .icon .second_icon .link
{
    margin-right: 5px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    color: #6a0dad;
}

.header
{
    width: 100%;
    padding: 20px 30px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: 41.2%;
}

.header .container .nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .container .nav ul li
{
    margin-left: -10%;
    margin-right: 10%;
    list-style: none;
}

.header .container .nav ul li .link
{
    text-decoration: none;
    color: #808080;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
}

.header .container .nav ul li .link:hover
{
    color: #a07dba;
}

.header .container .auth
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.header .container .auth button
{
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100px;
    font-size: 28px;
    background: none;
    cursor: pointer;
}